// Layout - Cards
.card-items {
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.card-item {
  background-color: #F5F5F5;
  height: 172px;
  padding-top: 8px;
  border-radius: 5px;
  font-weight: 300;

  &__body {
    padding-left: 12px;
    padding-right: 12px;
    height: 125px;
  }

  &__title {
    color: #3CA3CC;
    font-size: 32px;
    line-height: 44px;
    display: block;
    @extend .truncate;

    a {
      color: darken(#3CA3CC,10%);
    }
  }

  &__author {
    font-size: 22px;
    line-height: 30px;
    display: block;
    @extend .truncate;
  }

  &__logo img {
    max-width: 130px;
    float: right;
  }

  &__description {
    font-size: 17px;
    line-height: 22px;
    display: block;
    overflow: hidden;
    height: 46px;
    padding-top: 2px;
  }

  &__actions {
    border-top: 1px solid #E0E0E0;
    padding-left: 12px;

    &--dev {
      float: right;
    }

    &--architecture img {
      padding-top: 7px;
      padding-right: 9px;
    }
  }

}


// Layout - Features
.feature-items {
  padding-bottom: 100px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
}


.feature-item {
  background-color: #ffffff;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  border-radius: 50%;
  font-weight: 300;
  border: 6px solid #3CA3CC;
  margin: 0 auto;


  &__body {
    text-align: center;
    padding-top: 15px;
  }

  &__title {
    color: #3CA3CC;
    font-size: 32px;
    line-height: 44px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding-bottom: 50%;
  }

  &__description {
    color: #8F8F8F;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__icon:before {
    content: '\f004';
    font-family: FontAwesome;
    position: relative;
    font-size: 3rem;
    float: left;
    background: #ffffff;
    color: #3CA3CC;
    border-radius: 100px;
    line-height: 77px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
.page-content {
  padding-top: 0px;
}
.site-tagline {
  text-align: center;
  display: block;
  font-size: 30px;
  font-weight: 200;
  padding-top: 15px;
}

.site-header {
  border-bottom: 0px;
  padding-top: 20px;
}

.site-title img {
  max-width: 70%;
  margin: 0 auto;
  display: block;

}


// Footer

.site-footer {
  background: #292e31;
  color: #d2d2d2;
  padding: 70px 0 0;
  margin-top: -1px;

  li {
    font-size: 15px;
    line-height: 165%;
  }

}

.footer-copyright {
  background: #23272a;
  padding: 30px 0 20px;
  text-align: center;
  color: #d2d2d2;
  font-weight: 200;
}

.widget_nav_menu li a {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

// Utilities
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p > .btn-github {
  display: none;
}

.btn-github {
  float: right;
}

a.center {
  text-align: center;
  margin-top: 40px;
  display: block;
}


// Tooltips
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 3px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


// Media queries
@media (max-width: 900px) {

  .site-tagline {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .feature-items {
    padding-bottom: 10px;
    grid-template-columns: 100%;
  }

  .feature-item {
    margin-bottom: 110px;
  }

  .card-items {
    grid-template-columns: 100%;
    // width: 460px;
    grid-gap: 20px;
  }

}

@media (max-width: 490px) {
  h2 {
    display: block;
  }
}
